@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland&family=Monoton&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
    /* height: 100vh; */
    background-color: #6f6f7a;
}

img {
    display: block;
    max-height: 28px;
}

.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

#calculator {
    background-color: #dee0d9;
    padding: 20px 14px;
    display: grid;
    gap: 12px;
    grid-template-rows: .75fr 2.35fr .1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    border-radius: 10px;
    box-shadow: inset -2px -2px rgba(0,0,0,.20),
                inset 2px 2px rgba(255,255,255,.75),
                4px 4px 15px rgba(0,0,0,.20)
    ;
}

#badge {
    grid-column-start: span 2;
    display: flex;
    align-items: center;
}

#solar-power {
    grid-column-end: span 2;
    background-color: rgb(62, 28, 16);
    display: grid;
    padding: 0;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px black;
}

#solar-power > div {
    border: .5px solid #47291b;
}

#solar-power > div:nth-child(1) {
    border-radius: 3px 0 0 3px;
}

#solar-power > div:nth-child(4) {
    border-radius: 0px 3px 3px 0px;
}

#display {
    box-sizing: border-box;
    background-color: #cad5cd;
    grid-column-end: span 4;
    text-align: right;
    min-height: 80px;
    min-width: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

#displayText {
    margin: 0;
    padding: 10px;
    font-size: 68px;
    font-family: 'Iceland', monospace;
}

#model-name {
    font-family: 'Audiowide', monospace;
    font-size: 8px;
    padding-right: 1px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    grid-column-start: span 4;
    max-height: 15px;
}

#model-name span {
    font-family:'Monoton', monospace;
    line-height: 10px;
}

button {
    color: white;
    background-color: #6c6d6f;
    width: 70px;
    min-height: 50px;
    padding: 0;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 0px rgb(68, 69, 70);
}

.red-button {
background-color: #e32457;
box-shadow: 0px 3px 0px rgb(156, 24, 59);
}

.operator {
    background-color: #80a8ea;
    box-shadow: 0px 3px 0px #5773a1;
}

.active-button {
    box-shadow: 1px 1px 9px rgb(73, 243, 255),
    0px 3px 0px #5773a1;
}

button:active {
    transform: translateY(2px);
    box-shadow: none;
    box-shadow: inset 0px 0px 4px rgba(0,0,0, .3);
}

#add {
    grid-row-end: span 2;
}

#multiply {
    font-size: 16px;
}



footer {
    background-color: #41659f;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
  }

footer p {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 9px 0px;
    padding: 6px;
    color: #f0f0f0;
    font-size: 14px;
  }

  .link{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    padding: 6px;
    color: #f0f0f0;
    font-size: 14px;
}

.link:visited {
    color: #ebebeb;
}

.github {
    display: inline-block;
    margin: 5px;
    height: 18px;
    width: 18px;
    vertical-align: -8px;
}

@media screen and (max-width: 450px) {

    html {
        overflow: none;
    }

    .flex-wrapper {
        justify-content: flex-start;
    }

    body {
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    
    #calculator {
        max-width: 100%;
        min-width: 95%;
        /* height: 100%; */
        padding: 10px 10px 15px 10px;
        grid-template-rows: .75fr 1.8fr .1fr 1fr 1fr 1fr;
    }

    #display {
        min-width: 0;
    }

    #displayText {
        font-size: 50px;
    }

    button {
        width: 100%;
        min-height: 40px;
        max-height: 60px;
        
    }

    #add {
        min-height: 100%;
    }

    footer {
        flex-direction: column;
        margin-top: 0px;
    }

    footer p, footer a.link {
        margin: 0;
        font-size: 12px;
        text-align: center;
    }
}
